/* body
{
    background-color: lawngreen;
}

div #image-container
{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background-color: lawngreen;
    border: 5px solid red;
    margin-top: 300px;
} */
