
.nav-menu-container
{
    height: 100%;
    width: 85%;
    background-color: rgb(240, 60, 60);
    border-bottom: 1px dotted white;
}

.nav-menu-container ul 
{
    display: flex;
    height: 100%;
    list-style: none;
    text-decoration: none;
}

.nav-menu-container ul .menu-link{
    height: 100%;
    width: 100%;
}

.nav-menu-container ul .menu-link a
{
    text-decoration: none;
    color: white; 
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.nav-menu-container ul .menu-link a .fa .fa-arrow-circle-down{
    border: 1px solid black;
    margin-left: 30px;
    padding: 10px;
}
.nav-menu-container ul .menu-link:hover{
    background-color: white;
}
.nav-menu-container ul .menu-link:hover .link-of-menu{
    color: red;
}

.nav-menu-container ul .menu-link:hover .sub-menu-1 .click-me
{
    background-color: white;
}
.nav-menu-container ul .menu-link:hover .sub-menu-1 .click-me a{
    color: red;
}
.nav-menu-container ul .menu-link:hover
.sub-menu-1 .click-me:hover a{
    color: blue;
}

.nav-menu-container ul .menu-link:hover
.sub-menu-1 .click-me:hover 
.grid-container .grid-item .sm-2-block ul h1 a{
    color: rgba(233, 19, 19, 0.685);
    text-shadow: 2px 2px 4px #f30d0d5e;
}
.nav-menu-container ul .menu-link:hover
.sub-menu-1 .click-me:hover 
.grid-container .grid-item .sm-2-block ul li a{
    color: rgba(27, 31, 31, 0.527);
    text-shadow: 1px 1px 1px #0000005e;
}
.nav-menu-container ul .menu-link:hover
.sub-menu-1 .click-me:hover 
.grid-container .grid-item .sm-2-block ul li:hover a{
    color: rgb(0, 47, 255);
}


/* not needed ones we use javascript */

.grid-container .grid-item .sm-2-block ul h1 a{
    color: red;
}
.grid-container .grid-item .sm-2-block ul li a{
    color: black;
}
/* not needed ones we use javascript */


.nav-menu-container ul .menu-link:nth-of-type(5){
    margin-right: 15%;
    /* background-color: purple; */
}


@media screen and (max-width: 1300px){
    .nav-menu-container ul .menu-link:nth-of-type(5){
        margin-right: 10%;
        /* background-color: rgb(47, 128, 0); */
    }
}
@media screen and (max-width: 1000px){
    .nav-menu-container ul .menu-link:nth-of-type(5){
        margin-right: 0%;
        /* background-color: rgb(0, 19, 128); */

    }
}
@media screen and (max-width: 768px)
{
    .nav-menu-container
    {
        display: none;
        position: absolute;
        margin-top: 50px;
        height: 600px;
        width: 100%;
        overflow: auto;
        background-color: rgba(255, 0, 0, 0.63);
       
    }
    .visible-menu-container{
        display: block;
    }

    .nav-menu-container ul{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .nav-menu-container ul .menu-link{
        height: 50px;
        border-bottom: 1px dashed white;
        flex-direction: column;
        width: 100%;
    }
    .nav-menu-container ul .menu-link .link-of-menu{
        display: flex;
        justify-content: center;
        letter-spacing: 6px;
    }
}


