

@media screen and (max-width: 768px){

  #icon-burger{
    position: fixed;
    border: 1px solid black;
    right: 2%;
    top: 8.3%;
    transform: translateY(-92%);
    background-color: rgb(240, 60, 60);
    border: none;
    padding: 10px;
  }
  #icon-burger .line
  {
    width: 30px;
    height: 4px;
    margin: 4px;
    border-radius: 3px;
    background-color: white;
    transition: all .3s ease-in-out;
  }
  #icon-burger:hover{
    background-color: white;
  }
  #icon-burger:hover .line{
    background-color: rgb(240, 60, 60);
  
  }
    /* #icon-burger{
      display: block;
    } */
    /* div #icon-burger .line{
        transition: all .3s ease-in-out;
    } */
    /* #icon-burger .line:nth-child(1){
      transform: translateY(8px) rotate(225deg);
    }
    #icon-burger .line:nth-child(3){
      transform: translateY(-8px) rotate(-225deg);
    }
    #icon-burger .line:nth-child(2){
      opacity: 0;
    } */
}